# Vim
vim/plugged
vim/.netrwhist

# Weechat
weechat/logs
weechat/sec.conf
weechat/message.txt

# Tmux
tmux

# Ubersicht
ubersicht/.eslintrc.js
ubersicht/network.widget/lib/network.out
ubersicht/playing.widget/lib/songMeta.plist
