[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "zsh/zsh-syntax-highlighting"]
	path = zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/git-open"]
	path = zsh/git-open
	url = https://github.com/paulirish/git-open.git
[submodule "zsh/zsh-pyenv-lazy"]
	path = zsh/zsh-pyenv-lazy
	url = https://github.com/davidparsson/zsh-pyenv-lazy.git
[submodule "zsh/zsh-nvm"]
	path = zsh/zsh-nvm
	url = https://github.com/lukechilds/zsh-nvm.git
[submodule "zsh/zsh-rbenv-lazy"]
	path = zsh/zsh-rbenv-lazy
	url = https://github.com/kadaan/zsh-rbenv-lazy.git
