[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "zsh/zsh-syntax-highlighting"]
	path = zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "vim/vundle/base16-vim"]
	path = vim/vundle/base16-vim
	url = https://github.com/chriskempson/base16-vim.git
[submodule "zsh/git-open"]
	path = zsh/git-open
	url = https://github.com/paulirish/git-open.git
[submodule "zsh/oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = https://github.com/chunkhang/oh-my-zsh.git
