zsh/plugins

vim/plugged
vim/.netrwhist

weechat/*.log
weechat/logs
weechat/sec.conf
weechat/message.txt
weechat/script/plugins.xml.gz

ubersicht/node_modules
ubersicht/network.widget/lib/network.out
ubersicht/playing.widget/lib/songMeta.plist

mutt/tmp
mutt/cache
mutt/aliases
