# Vim
vim/plugged
vim/.netrwhist

# Weechat
weechat/logs
weechat/sec.conf
weechat/message.txt
weechat/script/plugins.xml.gz

# Ubersicht
ubersicht/network.widget/lib/network.out
ubersicht/playing.widget/lib/songMeta.plist

# Mutt
mutt/tmp
mutt/cache
mutt/aliases
