@import url("lib/css/fontello.css");

body {
  color: #e6e6e6;
  font-family: Helvetica Neue;
  font-size: 13px;
  font-weight: 300;
}

a {
  color: #e6e6e6;
  text-decoration: none;
}

.widget-name {
  font-size: 10px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 2px;
}
