snippet main
int	main(void)
{
	$1
}
endsnippet

snippet inc
#include $1
endsnippet

snippet def
#define $1
endsnippet

snippet ifn
#ifndef `!p snip.rv = snip.fn.replace('.', '_').upper()`
# define `!p snip.rv = snip.fn.replace('.', '_').upper()`

$2

#endif
endsnippet
